{%- for host in hosts %}
{%- for interface in host.interfaces %}
set interfaces {{ interface.name }} description "{{ interface.description }}"
set interfaces {{ interface.name }} unit {{ interface.unit }} family inet address {{ interface.ip_address }}
{%- endfor %}
{%- endfor %}
